.card-container {
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  @media (min-width: 1300px) {
    max-width: 25vw;
    max-height: 30.6rem;
  }

  img {
    max-width: 80%;
    height: 100%;
    padding: 0% 2.5%;
    object-fit: contain;
  }

  &:hover {
    transform: scale(1.05);
  }

}



/* The overlay effect - lays on top of the container and over the image */
.overlay {
  max-width: 80%;
  position: absolute;
  left: 10%;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.card-container:hover .overlay {
  opacity: 1;
}



.movie-title {
  padding-top: 0.75rem;
  color: #ffffff;
}